.idea
.vscode
.vs
bin
obj
Properties/PublishProfiles/*
/azstorage
.csproj.user
wwwroot/Database.*
maps
/wwwroot/dump1.zip
/wwwroot/dump_original.zip
/wwwroot/dump.zip
/wwwroot/dump_weightedscores.zip
/wwwroot/dump2.zip
/wwwroot/dump.zip
/wwwroot/dump.zip
