@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">portaBle!</h1>
    <p>BeatLeader in a compact form for quick prototyping of the Beat Saber leaderboard system.</p>
</div>
